

<div class="container">
                
    <div class="columns">
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
               <a href="/contact">Contact</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
           <a href="/about">About</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-info">
          <p class="is-size-5">
            Blogposts
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/gallery">Gallery</a>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="notification is-primary">
          <p class="is-size-5">
            <a href="/guestbook">Guestbook</a>
          </p>
        </div>
      </div>
    </div>
  </div> 
    </div>
  </div>


           <section class="section">
              <div class="container">       
               
{{#if blogpost}}
{{#each blogpost}}
              <div class="column notification is-info">  
                  <p class="is-size-2 notification is-dark" name="title">{{title}}  </p>
                  <p class="is-size-5 notification is-primary" name="content" > {{content}} {{#if ../loggedin}} <form method="POST" action="/delbp/{{id}}"> <button class="button is-danger">Delete</button> </form>
                  <form action="/editBp/{{id}}" method="GET"> <button class="button is-light">Edit </button> </form> {{/if}}
                  </p>
              </div>
        {{/each}}
        {{else}}
        <p>No blog entries</p>
        {{/if}}
</div>
        </section>
  